
.rubik-dirt-regular {
    font-family: "Rubik Dirt", system-ui;
    font-weight: 100;
    font-style: normal;
  }

  h1 {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 8em;
    font-weight: 200;
    font-family: "Rubik Doodle Shadow", system-ui;
    color: #5971c2;
    padding: 2% 0;
    line-height: 1;
    text-align: center;  
  }

  h3 {
    position: sticky;
    margin-top: 1%;
    color: #000000;
    font-family:  "Syne Mono", monospace;
    font-size: 2em;
    font-style: normal;
    font-weight: 200;
    padding: 15px 0px 15px 0px;
    line-height: 20px;
    text-transform: none;
    text-align: center;
    background-position: center;
  }

 
